.yc-scroll {
  position: relative;
  overflow: hidden;
  &-inner {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-track {
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  &-bar {
    height: 30px;
    background: $scroll-bar-bg;
    position: absolute;
    top: 0;
    left: 2px;
    width: 6px;
    border-radius: 3px;
  }
  &-pulling {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &-icon {
      font-size: 30px;
    }
    &-text {
      font-size: 12px;
    }
  }
}
