.yc-layout {
  display: flex;
  flex-direction: column;
  &-content {
    flex-grow: 1;
  }
  & & {
    flex-grow: 1;
    flex-direction: row;
  }
  &.hasAside {
    flex-direction: row;
    .yc-layout {
      flex-direction: column;
    }
  }
}
