.yc-dialog {
    position: fixed;
    background: $dialog-bg;
    min-width: $dialog-min-width;
    z-index: 2;
    border-radius: $dialog-border-radius;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-cancel-button {
        margin-right: 10px;
    }

    &-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        background: fade_out($black, 0.5);
    }

    &-header {
        padding: $dialog-padding;
        color: rgba(0, 0, 0, .85);
        background: $dialog-bg;
        border-bottom: 1px solid $dialog-border-color;
        border-radius: $dialog-header-border-radius;
    }

    &-main {
        min-height: $dialog-min-height;
        padding: $dialog-body-padding;
        font-size: $dialog-font-size;
        line-height: $dialog-line-height;
    }

    &-footer {
        display: flex;
        justify-content: flex-end;
        padding: $dialog-footer-padding;
        text-align: right;
        background: 0 0;
        border-top: 1px solid $dialog-border-color;
        border-radius: $dialog-footer-border-radius;
    }

    &-close {
        position: absolute;
        bottom: 100%;
        left: 100%;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dialog-bg;

        &-icon {
            cursor: pointer;
            position: absolute;
            top: 25px;
            left: -6px;
        }

    }
}
