.yc-citySelect {
    &-body {
        overflow: hidden;
    }

    &-dialog {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: $citySelect-bg;

        > header {
            background: $citySelect-header-bg;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: $citySelect-font-size;
            line-height: 50px;
            > .icon {
                position: absolute;
                left: 20px;
                top:-13px;
                width:25px;
                height:25px;
                font-size: $citySelect-font-size * 2;
            }
        }
    }

    &-currentCity{
        color: #666;
        display: inline-block;
        font-size: $citySelect-font-size;
        padding: $citySelect-alphabet-padding $citySelect-alphabet-padding 0 $citySelect-alphabet-padding;
    }
    &-alphabet {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: $citySelect-alphabet-padding;

        > h3 {
            font-size: $citySelect-font-size;
            color: #333;
            font-weight: $citySelect-font-weight;
            display: inline-block;
            line-height: $citySelect-font-size;
            min-width: 150px;
            margin-top: 5px;
        }
    }

    &-r-info {
        max-width: 1000px;
    }

    &-letter {
        font-size: $citySelect-font-size;
        color: $citySelect-alphabet-color;
        display: inline-block;
        margin: 0 10px;
        width: $citySelect-letter-size;
        height: $citySelect-letter-size;
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
        border-radius: 50%;
        line-height: 16px;
        padding-top:5px;
        &:hover{
            font-weight: $citySelect-font-weight;
            color: $citySelect-alphabet-color;
            background: $citySelect-hover-bg;
        }

    }

    &-alphabet-city-area{
        padding: $citySelect-city-padding;
        border-radius: $citySelect-border-radius;
    }
    &-city-area {
        padding: $citySelect-city-padding;
        border-radius: $citySelect-border-radius;
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        transition: background-color 300ms;

        &:hover{
            background: $citySelect-hover-bg;
        }
    }

    &-city-label {
        padding-top: 7px;
        text-align: center;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        margin-top:5px;
        color: $citySelect-label-color;
        background: $citySelect-header-bg;
        box-shadow: 0 4px 5px 0 rgba(39, 178, 164, 0.22);
    }

    &-city {
        display: inline-block;
    }

    &-city-name {
        margin: 10px 20px;
        color: $citySelect-cityName-color;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        &:hover{
            color: $citySelect-alphabet-color;
            font-weight: $citySelect-font-weight;
        }
    }
}
